@import '../shared/variables.scss';

.head {
  background-image: url('/assets/images/header.jpg');;
  background-size: cover;
  display: flex;
  min-height: 180px;
  justify-content: center;
  flex-direction: column;
  font-size: 32px;
  padding: $pad-h $pad-w;
  text-align: center;

  .logo {
    margin-bottom: 1rem;
  }
}

.menu {
  background-color: $color-ebony-clay;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 0;
  position: sticky;
  top: 0;
  z-index: 2;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
    padding: $pad-h 0;
    margin: 0 $pad-w 0 0;
  
    &.active {
      border-bottom: 4px solid $color-white;
    }
  }
}

.menu-create {
  padding: ($pad-h / 2) 0;

  input {
    width: 8rem;
  }
}

.user {
  align-items: center;
  display: flex;
  position: absolute;
  right: $pad-w;
  top: $pad-h;
  z-index: 2;

  .profile {
    vertical-align: middle;
    width: 2rem;
  }
}
