@import '../shared/variables.scss';

.station {
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .details {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
  
    p {
      margin-bottom: .25rem;
    }
  
    h2 {
      font-size: 32px;
    }
  
    &-back,
    &-edit {
      position: absolute;
      top: $pad-h;
  
      img {
        vertical-align: middle;
      }
    }

    &-back {
      left: $pad-w;
    }

    &-edit {
      right: $pad-w;
    }

    &-bar {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .visual {
    text-align: center;
  
    img {
      max-width: 100%;
    }
  }
  
  .controls {
    background-color: $color-ebony-clay;
    width: 100%;
  }
}

.station-edit {
  button,
  input[type='file'],
  input[type='text'],
  select {
    width: 100%;
  }

  .input {
    margin-bottom: $pad-h;

    &-submit {
      text-align: right;
    }

    label {
      display: block;
      margin-bottom: $pad-h / 2;
    }

    select {
      background-image: url('../../assets/icons/arrow-down.svg');
      background-position: 98% 0%;
      background-repeat: no-repeat;
      margin-bottom: $pad-h;
    }

    .message {
      background-color: $color-white;
      color: $color-black;
      padding: $pad-h $pad-w;
    }
  }
}
