<h1>Web RTC Audio Broadcast</h1>
<div *ngIf="!joined">
  <input type="text" [(ngModel)]="stationId" />
  <button class="create" (click)="create()">Create station</button>
  <button class="join" (click)="join(stationId)">{{ station }}</button>
  <p>Stations: {{ radio.stations.length }}</p>
  <ul>
    <li *ngFor="let station of radio.stations">
      {{ station }}
      <button class="join" (click)="join(station)">{{ station }}</button>
    </li>
  </ul>
</div>
<div *ngIf="joined">
  <h2>{{ owner == true ? 'Broadcasting' : 'Listening'}} to {{ stationId }}</h2>
  <p>Listeners: {{ (radio.listeners | keyvalue).length }}</p>
  <ul>
    <li *ngFor="let listener of radio.listeners | keyvalue">{{ listener.key }}</li>
  </ul>
</div>
