<h1>Web RTC Audio Broadcast</h1>
<div *ngIf="!radio.station">
  <input type="text" [(ngModel)]="stationId" />
  <button class="create" (click)="create(stationId)">Create station</button>
  <p>Stations ({{ (radio.stations | keyvalue).length }})</p>
  <ul>
    <li *ngFor="let station of radio.stations | keyvalue">
      {{ station.key }} ({{ station.value.listeners.length }})
      <button class="join" (click)="radio.join(station.key)">Join station</button>
    </li>
  </ul>
  <p>Listeners ({{ (radio.listeners | keyvalue).length }})</p>
  <ul>
    <li *ngFor="let listener of radio.listeners | keyvalue">{{ listener.key }}</li>
  </ul>
</div>
<div *ngIf="radio.station">
  <div *ngIf="radio.station.owner == radio.socket.id">
    <h2>Broadcasting to {{ radio.station.id }}</h2>
    <button class="remove" (click)="remove(radio.station.id)">Remove station</button>
  </div>
  <div *ngIf="radio.station.owner != radio.socket.id">
    <h2>Listening to {{ radio.station.id }}</h2>
    <button class="leave" (click)="radio.leave(radio.station.id)">Leave station</button>
  </div>
  <p>Listeners ({{ radio.station.listeners.length }})</p>
  <ul>
    <li *ngFor="let listener of radio.station.listeners">{{ listener }}</li>
  </ul>
</div>
