<div class="section stations">
  <div class="stations-list">
    <a routerLink="/stations/{{ station.key }}" class="station" *ngFor="let station of radio.stations | keyvalue">
      <span class="station-name">{{ station.key }}</span>
      <span class="station-listeners"><img src="../../assets/icons/listen.svg" alt="Listeners" />{{ (station.value.listeners | keyvalue).length }} listeners</span>
      <img src="../../assets/icons/play.svg" alt="Play" class="station-play" />
    </a>
    <a _ngcontent-qii-c3="" class="station" ng-reflect-router-link="/stations/classic-house" href="/stations/classic-house"><span _ngcontent-qii-c3="" class="station-name">hip-hop</span><span _ngcontent-qii-c3="" class="station-listeners"><img _ngcontent-qii-c3="" alt="Listeners" src="../../assets/icons/listen.svg">0 listeners</span><img _ngcontent-qii-c3="" alt="Play" class="station-play" src="../../assets/icons/play.svg"></a>
    <a _ngcontent-qii-c3="" class="station" ng-reflect-router-link="/stations/classic-house" href="/stations/classic-house"><span _ngcontent-qii-c3="" class="station-name">electronic</span><span _ngcontent-qii-c3="" class="station-listeners"><img _ngcontent-qii-c3="" alt="Listeners" src="../../assets/icons/listen.svg">0 listeners</span><img _ngcontent-qii-c3="" alt="Play" class="station-play" src="../../assets/icons/play.svg"></a>
  </div>
  <div class="stations-edit">
    <h2>Create a station</h2>
    <input type="text" [(ngModel)]="inputMessage" />
    <button class="create" (click)="create(inputMessage)">Create station</button>
  </div>
</div>
