@import './app/shared/variables.scss';

body {
  background-color: $color-shark;
  color: $color-white;
  font-family: sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  font-weight: normal;
  line-height: 1.25em;
  margin: 0 0 .5rem;
}

p:last-of-type {
  margin-bottom: 0;
}

.button,
button,
input,
select {
  appearance: none;
  border-radius: .25rem;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: $pad-h / 2 $pad-w / 2;
}

.button,
button,
input[type='submit'] {
  background-color: $color-white;
  color: $color-black;
  cursor: pointer;
}

input,
select {
  background-color: transparent;
  border: 1px solid $color-shuttle-grey;
  color: $color-white;
}

a {
  color: $color-white;
  text-decoration: none;
}

.section {
  margin: 0 auto;
  max-width: $width-xs;
  padding: $pad-h $pad-w;
}
